

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <span>Copyright © <a href="/">xxxxxx</a></span> | 
                    <span><a href="/" target="_blank">xxxICP备110081xx51号</a></span>
                </div>
            </div>
        </div>
    </div>
<script src="../../js/jquery.js"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script src="../../bootstrap/js/docs.min.js"></script>
<script src="../../javascripts/t.js"></script>
</body>
</html>

